.about-section {
  gap: 40px;
  margin-top: 70px;
}

.about-section .box-image img {
  width: 255px;
  aspect-ratio: 1 / 1;
}

.about-section .about-box {
  box-shadow: 5px 5px 10px #b9b5b5;
}

.about-section .about-box .title p:nth-child(2) {
  margin: 15px 0;
}

.about-section .about-box .cv-box::before,
.about-section .about-box .cv-box::after {
  content: "";
  width: 0;
  height: 100%;
  background: var(--second-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.4;
}

.about-section .about-box .cv-box {
  margin: 10px 20px;
}

.cv-box .cv {
  width: 150px;
  height: 50px;
  font-size: 18px;
  background-color: var(--main-color);
  color: black;
  font-weight: bold;
}

.cv-box .cv:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transition: 0.6s;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 40px;
  box-shadow: 5px 5px 10px #b9b5b5;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  .about-section .about-box .title {
    font-size: 16px;
  }
  .about-info {
    padding: 10px;
    font-size: 14px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .about-section .box-image img {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 992px) {
  .about-section {
    margin-top: 40px;
    gap: 0;
  }
  .about-section .box-image {
    margin-top: 0;
  }
  .about-section .box-image img {
    display: none;
  }
}