.nav {
    padding-bottom: 4px;
    border-bottom: 1px solid #676767;
}

.nav-home {
    font-size: 18px;
}

.nav-home:hover {
    color: #ccc;
}

.nav:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.active {
    color: var(--main-color);
}

.active-home {
    color: var(--main-color);
}

.nav-title:hover {
    color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.toggle {
    width: 55px;
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.toggle:hover {
    color: var(--main-color);
}

.link-control {
    display: none;
}

.hide {
    display: none;
}

.nav-size {
    padding: 20px 0;
}

.links-move {
    padding-left: 100px;
}

@media (min-width: 1200px) {
    .canvas-control {
        display: none;
    }
    .link-control {
        display: flex;
    }
}
