.certificate {
  margin: 100px 0 50px 0;
}

.certificate-box {
  box-shadow: 5px 5px 10px #b9b5b5;
  width: fit-content;
}

.certificate-box img {
  max-width: 100%;
  width: 280px;
  height: auto;
}

@media (max-width: 600px) {
    .certificate-box img {
        width: 200px;
    }
}