.certificate {
  margin: 100px 0 50px 0;
}

.certificate-box {
  box-shadow: 5px 5px 10px #b9b5b5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: fit-content;
}

.certificate-box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.certificate-box img {
  max-width: 100%;
  width: 280px;
  height: auto;
}

@media (max-width: 600px) {
    .certificate-box img {
        width: 200px;
    }
}