.box-title {
  margin-top: 100px;
}

.title h2 {
  font-size: 88px;
  color: rgba(0,0,0,0.2);
  z-index: -1;
}

.inside-text {
  margin-top: -75px;
}

.inside-text .first,
.inside-text .second {
  font-size: 36px;
  font-weight: 700;
}

.inside-text .second {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .title h2 {
    font-size: 50px;
  }
  .inside-text {
    margin-top: -50px;
  }
  .inside-text .first,
  .inside-text .second {
    font-size: 26px;
  }
}
