.aboutSection {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 70px;
}

.aboutSection .boxImage {
  margin-top: 20px;
}

.aboutSection .boxImage img {
  width: 255px;
  height: 255px;
}

@media (min-width: 778px) and (max-width: 992px) {
  .aboutSection {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }
  .aboutSection .boxImage img {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 767px) {
  .aboutSection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}

.aboutSection .aboutBox {
  box-shadow: 5px 5px 10px #b9b5b5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 600px) {
  .aboutSection .aboutBox .title {
    font-size: 16px;
  }
}

.aboutSection .aboutBox .title p:nth-child(2) {
  margin: 15px 0;
}

.aboutSection .aboutBox .cvBox::before,
.cvBox::after {
  content: "";
  width: 0;
  height: 100%;
  background: var(--second-color);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  z-index: 1;
  opacity: 0.4;
}

.aboutSection .aboutBox .cvBox {
  margin: 10px 20px;
}

.cvBox .cv {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cvBox .cv:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.aboutInfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 40px;
  box-shadow: 5px 5px 10px #b9b5b5;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (min-width: 601px) and (max-width: 778px) {
  .aboutInfo {
    margin-bottom: 40px;
  }
}

.aboutInfo ul li {
  padding: 10px;
}

.aboutInfo label {
  font-weight: 700;
}

.aboutInfo .desInfo {
  margin-left: 120px;
  margin-top: -20px;
  font-size: 16px;
  color: var(--header-color);
}

@media (max-width: 992px) {
  .aboutSection {
    margin-top: 40px;
  }
  .aboutInfo .desInfo {
    margin-left: 120px;
    margin-top: -18px;
    font-size: 14px;
  }
  .aboutSection .boxImage {
    margin-top: 0;
  }
  .aboutSection .boxImage img {
    display: none;
  }
}

.aboutInfo .infoLink {
  color: var(--header-color);
}

.aboutInfo .infoLink:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

@media (max-width: 600px) {
  .aboutInfo {
    padding: 10px;
    margin-bottom: 40px;
    font-size: 14px;
  }
  .aboutInfo .desInfo {
    margin-left: 100px;
  }
}
