:root {
  --main-color: #ec195a;
  --second-color: white;
  --header-color: #555555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9a0632;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title {
  margin-top: 100px;
}

.title h2 {
  font-size: 88px;
  color: var(--header-color);
  opacity: 0.07;
  z-index: -1;
}

.inside-text {
  margin-top: -75px;
}

.inside-text .first,
.inside-text .second {
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .title h2 {
    font-size: 50px;
  }
  .inside-text {
    margin-top: -50px;
  }
  .inside-text .first,
  .inside-text .second {
    font-size: 26px;
  }
}

.inside-text .second {
  color: var(--main-color);
}

.not-found p {
  color: var(--main-color);
}