.resumeSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.resumeSection .resumeBox {
  box-shadow: 5px 5px 10px #b9b5b5;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.resumeBox .resumeTitle {
  position: relative;
}

.resumeBox .resumeTitle h3 {
  font-size: 20px;
  color: var(--header-color);
  margin: 10px 0;
}

.resumeBox .resumeTitle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
}

.resumeBox .resumeContent {
  position: relative;
  border-left: 4px solid #ddd;
  padding: 10px;
  margin: 40px 0;
}

.resumeBox .resumeContent::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -10px;
  top: 50%;
}

.resumeBox .resumeInside {
  padding: 20px;
}

.resumeBox .resumeInside::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  left: 0;
  top: 54%;
}

.resumeBox .resumeInside {
  border-left: 4px solid var(--main-color);
  padding-left: 20px;
  margin-left: 40px;
  margin-top: 20px;
}
.resumeBox .resumeInside .year {
  position: relative;
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px;
  color: var(--second-color);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.resumeBox .resumeInside .year::after {
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: var(--main-color) var(--second-color) var(--second-color)
    var(--main-color);
  background-color: var(--main-color);
  top: 27px;
}

.resumeBox .resumeInside h3 {
  font-size: 20px;
  color: var(--header-color);
  line-height: 1.8;
}

.resumeBox .resumeInside h3:nth-child(3) {
  color: #b6b3b3;
  font-size: 18px;
}

.resumeSkills {
  flex: 1;
  margin-top: 40px;
}

.resumeSkills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.resumeSkills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}

.resumeSkills .skill .the-progress {
  height: 15px;
  background-color: #eee;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 15px;
}

.resumeSkills .skill .the-progress span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}

.knowskills {
  display: flex;
  margin-top: 10px;
  margin: 20px 0;
  margin-top: 40px;
}

.knowskills .knowIcon {
  color: var(--main-color);
}

.knowskills p {
  margin-left: 10px;
  color: var(--header-color);
}

.certificate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 100px 0 50px 0;
}

.certificate .certificateBox {
  box-shadow: 5px 5px 10px #b9b5b5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: fit-content;
}

.certificate .certificateBox:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.certificate .certificateBox img {
  width: 280px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.icons {
  gap: 20px;
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .resumeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .resumeSection .resumeBox {
    width: 320px;
  }
  .resumeBox .resumeInside::before {
    top: 54%;
  }
  .resumeBox .resumeInside .year::after {
    top: 26px;
  }
  .resumeBox .resumeInside h3 {
    font-size: 14px;
  }
  .resumeBox .resumeInside h3:nth-child(3) {
    font-size: 12px;
  }
  .certificate {
    grid-template-columns: repeat(1, 1fr);
  }
  certificate .certificateBox img {
    width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 778px) {
  .certificate {
    grid-template-columns: repeat(2, 1fr);
  }
}
