.resume-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 70px 0 40px 0;
}

.icons {
  gap: 20px;
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}