.resume-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.resume-section .resume-box {
  box-shadow: 5px 5px 10px #b9b5b5;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.resume-box .resume-title {
  position: relative;
}

.resume-box .resume-title h3 {
  font-size: 20px;
  color: var(--header-color);
  margin: 10px 0;
}

.resume-box .resume-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
}

.resume-box .resume-content {
  position: relative;
  border-left: 4px solid #ddd;
  padding: 10px;
  margin: 40px 0;
}

.resume-box .resume-content::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -10px;
  top: 50%;
}

.resume-box .resume-inside {
  padding: 20px;
}

.resume-box .resume-inside::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  left: 0;
  top: 54%;
}

.resume-box .resume-inside {
  border-left: 4px solid var(--main-color);
  padding-left: 20px;
  margin-left: 40px;
  margin-top: 20px;
}
.resume-box .resume-inside .year {
  position: relative;
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px;
  color: var(--second-color);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.resume-box .resume-inside .year::after {
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: var(--main-color) var(--second-color) var(--second-color)
    var(--main-color);
  background-color: var(--main-color);
  top: 27px;
}

.resume-box .resume-inside h3 {
  font-size: 20px;
  color: var(--header-color);
  line-height: 1.8;
}

.resume-box .resume-inside h3:nth-child(3) {
  color: #b6b3b3;
  font-size: 18px;
}

.resume-skills {
  flex: 1;
  margin-top: 40px;
}

.resume-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.resume-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}

.resume-skills .skill .the-progress {
  height: 15px;
  background-color: #eee;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 15px;
}

.resume-skills .skill .the-progress span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}

.know-skills {
  display: flex;
  margin-top: 10px;
  margin: 20px 0;
  margin-top: 40px;
}

.know-skills .know-icon {
  color: var(--main-color);
}

.know-skills p {
  margin-left: 10px;
  color: var(--header-color);
}

.certificate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 100px 0 50px 0;
}


.icons {
  gap: 20px;
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .resume-section .resume-box {
    width: 320px;
  }
  .resume-box .resume-inside::before {
    top: 54%;
  }
  .resume-box .resume-inside .year::after {
    top: 26px;
  }
  .resume-box .resume-inside h3 {
    font-size: 14px;
  }
  .resume-box .resume-inside h3:nth-child(3) {
    font-size: 12px;
  }
  .certificate {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 778px) {
  .certificate {
    grid-template-columns: repeat(2, 1fr);
  }
}
