.contact-message {
    margin: 50px 0 60px 0;
}

.contact-message .message-box {
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 20px;
}

.contact-message .message-box input[type='text'],
.contact-message .message-box input[type='email'],
.contact-message .message-box textarea {
    border-width: 2px;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: #ddd6d6;
    font-size: 17px;
    margin-top: 25px;
    padding: 10px 0;
    display: inline-flex;
    width: 45%;
}

.contact-message .message-box input[type='email'] {
    margin-left: 20px;
}

.contact-message .message-box textarea {
    height: 140px;
    margin-bottom: 25px;
    width: 100%;
}

.contact-message .message-box input:focus,
.contact-message .message-box textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.contact-message .message-box .submit input[type='submit'] {
    width: 180px;
    height: 60px;
    background-color: var(--main-color);
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
}

.contact-message .message-box .submit input[type='submit']:hover {
    color: var(--main-color);
    background-color: #fbfbfb;
    border: 1px solid var(--main-color) !important;
    transition: 0.6s linear;
}

@media (max-width: 600px) {
    .message-box input {
        width: 100% !important;
    }
    .contact-message .message-box input[type='email'] {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
}