.skill h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: black;
}

.skill .the-progress {
  height: 15px;
  background-color: #eee;
  position: relative;
  margin-bottom: 15px;
}

.skill .the-progress span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
