.home-cover {
    background-image: url('../../assets/images/home-page.jpg');
    background-size: cover;
}

.home-section .home-image {
    padding-right: 50px;
}

.home-section .home-image img {
    width: 250px;
    border-radius: 50%;
    border: 4px solid var(--main-color);
}

.home-title h2 {
    color: var(--second-color);
    font-size: 50px;
}

.home-title span {
    font-size: 18px;
    color: var(--second-color);
}

.home-title .second {
    color: var(--main-color);
}

.home-title p {
    max-width: 600px;
    line-height: 1.6;
    color: #ddd;
    margin-top: 10px;
}

.home-title .h-links {
    margin: 20px 0;
}

@media (max-width: 992px) {
    .home-section {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-section .home-image {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .home-section .home-image img {
        width: 180px;
    }
    .home-content .about-section .home-title {
        margin-top: 0;
    }
    .home-title h2 {
        font-size: 35px;
    }
    .home-title p {
        width: 95%;
        font-size: 14px;
    }
    .home-title .h-links {
        justify-content: center;
    }
}