.home-page {
    background-image: url('../../assets/images/homePage.jpg');
    background-size: cover;
}

.home-section .home-image {
    padding-right: 50px;
}

.home-section .home-image img {
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid var(--main-color);
}

.home-title h2 {
    color: var(--second-color);
    font-size: 50px;
}

.home-title span {
    font-size: 18px;
    color: var(--second-color);
}

.home-title .second {
    color: var(--main-color);
}

.home-title p {
    width: 200%;
    color: #ddd;
    margin-top: 10px;
}

.home-title .h-links {
    margin: 20px 0;
}

.home-title .home-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    margin-right: 15px;
}

.home-title .home-icon:hover {
    background-color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.home-title .home-icon .icon {
    color: var(--second-color);
    font-size: 18px;
}

@media (max-width: 992px) {
    .home-section {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-section .home-image img {
        width: 180px;
        margin-left: 20px;
    }
    .home-content .about-section .home-title {
        margin-top: 0;
    }
    .home-title h2 {
        font-size: 35px;
    }
    .home-title p {
        width: 95%;
        font-size: 14px;
    }
    .home-title .h-links {
        justify-content: center;
    }
    .home-title .home-icon {
        width: 40px;
        height: 40px;
    }
    .home-title .home-icon .icon {
        font-size: 15px;
    }
}