
.project-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    margin: 0 5px;
}

.project-icon .icon {
    color: var(--second-color);
}

.project-card {
  width: 20rem;
  border: none;
  border-radius: 18px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 30px rgba(0,0,0,0.18);
}

.project-img-box {
  overflow: hidden;
}

.project-img {
  height: 180px;
  object-fit: cover;
  transition: 0.4s ease;
}

.project-card:hover .project-img {
  transform: scale(1.09);
}

.project-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dc3545;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon-wrapper:hover {
  background: #b82f3a;
  transform: scale(1.1);
}

.icons-box {
  gap: 1rem;
}
