:root {
    --main-color: #ec195a;
    --second-color: white;
    --header-color: #555555;
    --shadow: box-shadow: 5px 5px 10px #b9b5b5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.boxTitle {
    text-align: center;
    margin-top: 25px;
}

.title h2 {
    text-transform: uppercase;
    font-size: 88px;
    font-weight: bold;
    color: var(--header-color);
    opacity: 0.07;
    z-index: -1;
}
.insideText {
    margin-top: -75px;
}

.insideText .first,
.insideText .second {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .title h2 {
        font-size: 60px;
    }
    .insideText {
        margin-top: -50px;
    }
    .insideText .first,
    .insideText .second {
        font-size: 26px;
    }
}

.insideText .second {
    color: var(--main-color);
}
/* Home */
.homePage {
    background-image: url('../photos/homePage.jpg');
    background-size: cover;
    height: 100vh;
}

.header {
    position: relative;
}

.header .container {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 30px 0;
}
.header .logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--second-color);
}
.header nav ul{
    display: flex;
    margin-left: 200px;
}

.header nav ul .homeLinks {
    display: flex;
    padding-left: 30px;
    font-size: 18px;
    color: var(--second-color);
}

.header nav ul .active {
    color: var(--main-color);
}

.header nav ul .homeLinks .homeIcon {
    padding-right: 10px;
}

.header nav ul .homeLinks:hover {
    color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

@media (max-width: 991px) {
    .header .container {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
    }
    .header .logo {
        font-size: 25px;
    }
    .header .bars {
        position: relative;
        color: var(--second-color);
        font-size: 25px;
        cursor: pointer;
    }
    /* .header .logo::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: red;
        z-index: 100;
        visibility: hidden;
    } */
    .header nav ul {
        margin-left: 0;
    }
    nav ul li {
        display: none;
    }

    nav .show {
        display: flex;
        background-color: red;
        width: 200px;
        height: 100px;
    }
}

@media (min-width: 992px) {
    .bars {
        visibility: hidden;
    }
}

.homeSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSection .homeContent {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSection .homeImage img {
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid var(--main-color);
}

.homeContent .aboutSection .homeTitle {
    margin-left: 40px;
    margin-top: -100px;
}

.homeTitle h2 {
    color: var(--second-color);
    font-size: 50px;
}

.homeTitle span {
    font-size: 18px;
    color: var(--second-color);
}
.homeTitle .second {
    color: var(--main-color);
}
.homeTitle p {
    width: 200%;
    color: white;
    margin-top: 10px;
}
.homeTitle .hLinks {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.homeTitle .homeIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTitle .homeIcon:hover {
    background-color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.homeTitle .homeIcon .icon {
    color: var(--second-color);
    font-size: 18px;
}

.homeTitle .homeBtn {
    display: flex;
    width: 150%;
}

.homeTitle .homeBtn .linkX,
.homeTitle .homeBtn .linkY {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.homeTitle .homeBtn .contactMe {
    background-color: var(--main-color);
}

.homeTitle .homeBtn .linkX:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.homeTitle .homeBtn .linkY:hover {
    background-color: var(--main-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.homeTitle .homeBtn .myProjects {
    background-color: var(--second-color);
    margin-left: 15px;
}

.homeTitle .homeBtn .linkX,
.homeTitle .homeBtn .linkY {
    font-size: 18px;
    font-weight: bold;
}

.homeTitle .homeBtn .linkX {
    color: var(--second-color);
}

.homeTitle .homeBtn .linkY {
    color: var(--main-color);
}

@media (max-width: 777px)  {
    .homeSection .homeContent {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }
    .homeContent .aboutSection {
        margin-left: 0;
        margin-top: 0;
    }
    .homeSection .homeImage img {
        width: 150px;
        margin-left: 20px;
    }
    .homeContent .aboutSection .homeTitle {
        margin-top: 0;
    }
    .homeTitle h2 {
        font-size: 35px;
    }
    .homeTitle p {
        width: 95%;
        font-size: 14px;
    }
    .homeTitle .hLinks {
        justify-content: center;
    }
    .homeTitle .homeIcon {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .homeTitle .homeIcon .icon {
        font-size: 15px;
    }
    .homeTitle .homeBtn {
        width: 0;
    }
    .homeTitle .homeBtn .linkX,
    .homeTitle .homeBtn .linkY {
        width: 150px;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
        .homeSection .homeContent {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .homeContent .aboutSection {
        margin-left: 0;
        margin-top: 0;
    }
    .homeContent .homeImage img {
        width: 300px;
    }
        .homeSection .homeImage img {
        width: 150px;
        margin-left: 20px;
    }
    .homeContent .aboutSection .homeTitle {
        margin-top: 0;
    }
    .homeTitle h2 {
        font-size: 35px;
    }
    .homeTitle p {
        width: 95%;
        font-size: 14px;
    }
    .homeTitle .hLinks {
        justify-content: center;
    }
    .homeTitle .homeIcon {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .homeTitle .homeIcon .icon {
        font-size: 15px;
    }
    .homeTitle .homeBtn {
        width: 0;
    }
    .homeTitle .homeBtn .linkX,
    .homeTitle .homeBtn .linkY {
    }
}
/* End Home */

/* Start About */
.aboutSection {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 100px;
}
.aboutSection .boxImage {
    margin-top: 40px;
}

.aboutSection .boxImage img {
    width: 255px;
    height: 255px;
}

@media (min-width: 778px) and (max-width: 992px) {
    .aboutSection {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 30px;
    }
    .aboutSection .boxImage img {
        width: 100%;
        height: 450px;
    }
}
@media (max-width: 767px)  {
    .aboutSection {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
    .aboutSection .boxImage img {
        width: 100%;
        height: 400px;
    }
}
.aboutSection .aboutBox {
    box-shadow: 5px 5px 10px #b9b5b5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.aboutSection .aboutBox .title {
    padding: 20px;
    font-size: 18px;
    color: #797575;
}

.aboutSection .aboutBox .title p:nth-child(2) {
    margin: 15px 0;
}
.aboutSection .aboutBox .cvBox::before, .cvBox::after{
    content: "";
    width: 0;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: 0.4;
}

.aboutSection .aboutBox .cvBox {
    background-color: var(--main-color);
    width: 150px;
    height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cvBox .cv {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: var(--second-color);
}

.aboutInfo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 40px;
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 767px) {
    .aboutInfo {
        margin-bottom: 40px;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
    .aboutInfo {
        margin-bottom: 40px;
    }
}

.aboutInfo ul li {
    padding: 10px;
}

.aboutInfo label {
    font-weight: 700;
}

.aboutInfo span {
    color: var(--header-color);
    margin-left: 30px;
}

.aboutInfo .infoLink {
    text-decoration: none;
    color: var(--header-color);
}

.aboutInfo .infoLink:hover {
    color: var(--main-color);
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
/* End About */
/* Start Contact */
.contactSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 100px;
    padding: 20px;
}

.contactSection .contactLocation,
.contactSection .contactPhone,
.contactSection .contactEmail {
    position: relative;
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 778px) and (max-width: 992px) {
    .contactSection .contactEmail {
        margin-left: 180px;
        width: 300px;
    }
}
.contactSection .contactLocation:hover{
    animation: up-to-down 2s linear;
    -webkit-animation: up-to-down 2s linear;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.contactSection .contactIcon {
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.contactSection .contactIcon .icon {
    font-size: 30px;
    color: var(--second-color);
}

.contactSection h2 {
    font-weight: 700;
    font-size: 22px;
    color: var(--header-color);
    margin-bottom: 15px;
}

.contactSection p,
.contactSection .mailContact {
    text-decoration: none;
    font-size: 18px;
    color: var(--header-color)
}

.contactSection .mailContact:hover,
.contactSection .phoneNumber:hover{
    cursor: pointer;
    color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.contactMessage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.contactMessage .messageBox {
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contactMessage .messageBox input[type='text'],
.contactMessage .messageBox input[type='email'],
.contactMessage .messageBox textarea {
    border-width: 2px;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: #ddd6d6;
    font-size: 17px;
    margin-top: 25px;
    padding: 10px 0;
}
.contactMessage .messageBox input[type='email'] {
    margin-left: 20px;
}
.contactMessage .messageBox textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}
.contactMessage .messageBox input:focus,
.contactMessage .messageBox textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.contactMessage .messageBox .submit input[type='submit'] {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.contactMessage .messageBox .submit input[type='submit']:hover {
    color: var(--main-color);
    background-color: #fbfbfb;
    border: 1px solid var(--main-color);
    transition: 0.6s linear;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -ms-transition: 0.6s linear;
    -o-transition: 0.6s linear;
}
.contactMessage .mapBox {
    box-shadow: 5px 5px 10px #b9b5b5;
}

.contactMessage .mapBox iframe {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 767px) {
    .contactMessage {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .contactMessage .messageBox input[type='email'] {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .contactMessage .messageBox textarea {
        width: 100%;
    }
}
/* End Contact Page */
/* Start Project Page*/
.projectSection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.projectSection .projectBox {
    box-shadow: 5px 5px 10px #b9b5b5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #ededed;
}
.projectSection .projectTitle {
    text-align: center;
    padding: 20px 0;
    background-color: #ededed;
}

.projectSection .projectTitle h2 {
    font-size: 20px;
    color: var(--header-color);
}

.projectSection .projectLinks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 20px 0;
}
.projectSection .projectLinks::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 85px;
    background-color: #ddd;
}
.projectLinks .projectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    margin: 0 5px;
}
.projectLinks .projectIcon .icon {
    color: var(--second-color);
}
.projectSection .projectImage img {
    width: 100%;
}
/* End Project Page */
/* Start Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 40px;
    height: 60px;
    width: 100%;
}
footer p {
    color: var(--second-color);
}
/* End Footer */