:root {
    --main-color: #ec195a;
    --second-color: white;
    --header-color: #555555;
    --shadow: box-shadow: 5px 5px 10px #b9b5b5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.boxTitle {
    text-align: center;
    margin-top: 25px;
}

.title h2 {
    text-transform: uppercase;
    font-size: 88px;
    font-weight: bold;
    color: var(--header-color);
    opacity: 0.07;
    z-index: -1;
}
.insideText {
    margin-top: -75px;
}

.insideText .first,
.insideText .second {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .title h2 {
        font-size: 60px;
    }
    .insideText {
        margin-top: -50px;
    }
    .insideText .first,
    .insideText .second {
        font-size: 26px;
    }
}

.insideText .second {
    color: var(--main-color);
}
/* Home */
.home {
    background-image: url('../photos/homePage.jpg');
    background-size: cover;
    height: 100vh;
}

.header {
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    display: flex;
    height: 72px;
    color: var(--second-color);
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

.header nav {
    display: flex;
}

.header nav li {
    position: relative;
    height: 72px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 30px;
    overflow: hidden;
}
@media (max-width: 992px) {
    .header nav li {
        padding: 0 15px;
    }
}

.header .headLink {
    text-decoration: none;
    color: var(--second-color);
    font-weight: bold;
}
.header .active {
    color: var(--main-color);
}
.header .headLink:hover {
    color: var(--main-color);
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}
.header .box .navIcon {
    padding-right: 8px;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
    .header nav {
        margin: auto;
    }
    .header nav li {
        font-size: 13px;
        padding: 10px;
        height: 40px;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 250px;
}

section .image {
    padding-right: 100px;
}

section .image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid var(--main-color);
}

section .content h1 {
    color: var(--second-color);
    font-size: 45px;
    font-weight: bold;
}

section .content .title {
    color: var(--second-color);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

section .content .title span {
    color: var(--main-color);
}

section .content .about {
    color: #d4d4d4;
    font-size: 16px;
    width: 65%;
}

section .intro {
    margin-bottom: 20px;
}
section .aboutLinks ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

section .aboutLinks li {
    text-decoration: none;
}

section .aboutLinks .titleIcon {
    color: var(--second-color);
    font-size: 30px;
}

section .aboutLinks .titleIcon:hover {
    color: var(--main-color);
    transition: 0.5 linear;
    -webkit-transition: 0.5 linear;
    -moz-transition: 0.5 linear;
    -ms-transition: 0.5 linear;
    -o-transition: 0.5 linear;
}

section .contactBox {
    display: flex;
    margin-top: 20px;
}

section .contactBox a {
    text-decoration: none;
}

section .contactBox .contactMe,
section .contactBox .myProjects {
    width: 180px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

section .contactBox .contactMe {
    background-color: var(--main-color);
}

section .contactBox .myProjects {
    background-color: var(--second-color);
    margin-left: 20px;
}

section .contactBox .contactLink,
section .contactBox .projectLink {
    font-size: 20px;
    font-weight: bold;
}

section .contactBox .contactLink {
    color: var(--second-color);
}

section .contactBox .projectLink {
    color: var(--main-color);
}

@media (max-width: 767px)  {
    section {
        flex-wrap: wrap;
        text-align: center;
        margin: 50px 120px;
    }
    section .image {
        width: 250px;
        margin-left: 50px;
    }
    section .content h1 {
        font-size: 30px;
    }
    section .content .title {
        font-size: 18px;
    }
    section .content .about {
        width: 100%;
        font-size: 12px;
    }
    section .aboutLinks ul {
        width: 70%;
        margin-left: 20px;
    }
    section .contactBox .contactMe,
    section .contactBox .myProjects {
        width: 120px;
        height: 40px;
        text-align: center;
        padding: 10px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
    section .contactBox .contactLink,
    section .contactBox .projectLink {
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
    section {
        flex-wrap: wrap;
        text-align: center;
        margin: 50px 100px;
    }
    section .image {
        margin-left: 80px;
    }
    section .content .title {
        margin-top: 5px;
    }
    section .content .about {
        margin-left: 170px;
    }
    section .aboutLinks ul {
        margin-left: 270px;
    }
    section .contactBox {
        margin-left: 200px;
    }
}
/* End Home */

/* Start About */
.aboutSection {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 100px;
}
.aboutSection .boxImage {
    margin-top: 40px;
}

.aboutSection .boxImage img {
    width: 255px;
    height: 255px;
}

@media (min-width: 778px) and (max-width: 992px) {
    .aboutSection {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 30px;
    }
    .aboutSection .boxImage img {
        width: 100%;
        height: 450px;
    }
}
@media (max-width: 767px)  {
    .aboutSection {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
    .aboutSection .boxImage img {
        width: 100%;
        height: 400px;
    }
}
.aboutSection .aboutBox {
    box-shadow: 5px 5px 10px #b9b5b5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.aboutSection .aboutBox .title {
    padding: 20px;
    font-size: 18px;
    color: #797575;
}

.aboutSection .aboutBox .title p:nth-child(2) {
    margin: 15px 0;
}
.aboutSection .aboutBox .cvBox::before, .cvBox::after{
    content: "";
    width: 0;
    height: 100%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: 0.4;
}

.aboutSection .aboutBox .cvBox {
    background-color: var(--main-color);
    width: 150px;
    height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cvBox .cv {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: var(--second-color);
}

.aboutInfo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 40px;
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 767px) {
    .aboutInfo {
        margin-bottom: 40px;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
    .aboutInfo {
        margin-bottom: 40px;
    }
}

.aboutInfo ul li {
    padding: 10px;
}

.aboutInfo label {
    font-weight: 700;
}

.aboutInfo span {
    color: var(--header-color);
    margin-left: 30px;
}

.aboutInfo .infoLink {
    text-decoration: none;
    color: var(--header-color);
}

.aboutInfo .infoLink:hover {
    color: var(--main-color);
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
/* End About */
/* Start Contact */
.contactSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 100px;
    padding: 20px;
}

.contactSection .contactLocation,
.contactSection .contactPhone,
.contactSection .contactEmail {
    position: relative;
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 778px) and (max-width: 992px) {
    .contactSection .contactEmail {
        margin-left: 180px;
        width: 300px;
    }
}
.contactSection .contactLocation:hover{
    animation: up-to-down 2s linear;
    -webkit-animation: up-to-down 2s linear;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.contactSection .contactIcon {
    width: 80px;
    height: 80px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.contactSection .contactIcon .icon {
    font-size: 30px;
    color: var(--second-color);
}

.contactSection h2 {
    font-weight: 700;
    font-size: 22px;
    color: var(--header-color);
    margin-bottom: 15px;
}

.contactSection p,
.contactSection .mailContact {
    text-decoration: none;
    font-size: 18px;
    color: var(--header-color)
}

.contactSection .mailContact:hover,
.contactSection .phoneNumber:hover{
    cursor: pointer;
    color: var(--main-color);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.contactMessage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.contactMessage .messageBox {
    box-shadow: 5px 5px 10px #b9b5b5;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contactMessage .messageBox input[type='text'],
.contactMessage .messageBox input[type='email'],
.contactMessage .messageBox textarea {
    border-width: 2px;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: #ddd6d6;
    font-size: 17px;
    margin-top: 25px;
    padding: 10px 0;
}
.contactMessage .messageBox input[type='email'] {
    margin-left: 20px;
}
.contactMessage .messageBox textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}
.contactMessage .messageBox input:focus,
.contactMessage .messageBox textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.contactMessage .messageBox .submit input[type='submit'] {
    width: 180px;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.contactMessage .messageBox .submit input[type='submit']:hover {
    color: var(--main-color);
    background-color: #fbfbfb;
    border: 1px solid var(--main-color);
    transition: 0.6s linear;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -ms-transition: 0.6s linear;
    -o-transition: 0.6s linear;
}
.contactMessage .mapBox {
    box-shadow: 5px 5px 10px #b9b5b5;
}

.contactMessage .mapBox iframe {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 767px) {
    .contactMessage {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .contactMessage .messageBox input[type='email'] {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .contactMessage .messageBox textarea {
        width: 100%;
    }
}
/* End Contact Page */
/* Start Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 40px;
    height: 60px;
    width: 100%;
}
footer p {
    color: var(--second-color);
}
/* End Footer */